* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: black;
}
#game {
    width: 1920px;
    height: 1080px;
    background-color: coral;
    border: 3px solid rgb(255, 255, 255);
    margin: auto;
    position: absolute;
    top: 50px;
    left: 575px;
    bottom: 50px;
}
#character{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 238, 0);
    border-radius: 50%;
    position: relative;
    top: 575px;
    left: 327px;
    z-index: 5;
}
